
.Nav{
    width: 95%;
    margin: auto;
    /* border-bottom: 1px solid black; */
    padding: 10px;
    font-size: 18px;
    /* position: fixed; */
}

.logo{
    width: 80px;
    height: 22px;
    margin-top: 10px;
}




.active {
    color: red;
    text-decoration: none;
    padding: 2rem;
    
  }
  .default {
    color: black;
    text-decoration: none;
    padding: 2rem;
  }
.navbar{
    border-bottom: 2px solid black;
    font-size: 17px;
    padding: 10px;
   
}  

.navDiv1{
  margin-left: 1px;
}
.navDiv1>a{
  margin-left: 20px;
}
